.error-title {
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
}

mat-icon {
    margin-right: 8px;
}

.content{
    text-align: center;
}

.center-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}